name: Build and Test

env:
  DOTNET_VERSION: '10.0'  

on:
  pull_request:
      branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    name: Pull Request verify 
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: restore dependencies
        run: dotnet restore --configuration Release

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet test
        run: dotnet test --configuration Release --no-build
        
      - name: dotnet format
        run: dotnet format -v detailed --verify-no-changes
